
.first-List-Item{
  .at-list__item--thumb .item-thumb{
    height: 100rpx;
    width: 100rpx;
  }
  .at-list__item .item-content__info-title{
    font-weight: bold;
  }
}
.padding-top{
  padding-top: 20px;
}
